#button1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    border-radius: 500px;
    border: 2px solid bisque;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: beige;
    background-color: #000000;
    width:600px ;
    height:60px;
    left: 35%;
    bottom: 6%;
}
body{
    background-image: url(/MATRIX/images/level3bckgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 1000px;
}

#button1:hover{
   background-color: bisque;
   color: #000000;
}

#button1::before{
    border: 2px solid whitesmoke;
  color: white;
    display: block;
    content: 'The purpose of the Merovingian is to control the Exiles from the machine world,and they traced your location in the simulation and found you !!';
    position: absolute;
   font-size: 20px;
    width:80%;
    height: 120px;
    top: -140px;
    opacity: 0;
    transition: .5s;
}

#button1:hover#button1::before {
   opacity: 1;
}
#myvideo {
    display: flex;
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    width: 0px;
    height: 0px;
    transition: 3s ;
    opacity: 0;
}