body{
    background-color: black;
}
.title{
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 29px;
    display:block;
    margin-top: 2em;
    margin-left: 2em;
    text-align: center;
  }
  .glow {
   
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #32CD32, 0 0 40px #32CD32, 0 0 50px #32CD32, 0 0 60px #32CD32, 0 0 70px #32CD32;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #66FF66, 0 0 40px #66FF66, 0 0 50px #66FF66, 0 0 60px #66FF66, 0 0 70px #66FF66, 0 0 80px #66FF66;
    }
  }

  .paragraph{
    color: #66FF66;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 24px;
    display:block;
    margin-top: 3em;
    margin-left: 2em;
    text-align:center;
    
  
  }

  .matrics{
   
    margin-bottom: 6em;
    width: 30em;
    height: 25em;
    margin-left: 48em;
    margin-right: 5em;
    border: 2px solid #32CD32;
    color: #32CD32;
    
   
  }

  .ques{
    color: #66FF66;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: 24px;
  display:block;
  margin-top: 0em;
  margin-left: 2em;
  text-align:center;
  }
  #answer{
    margin-top: 2em;
    margin-left: 60em;
    padding-left: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #submit{
    font-weight: bolder;
    font-size: 15px;
    color: #32CD32;
    margin-left: 57em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 3em;
    width: 15em;
  }




  .num{
    color: #66FF66;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: 24px;
  display:block;
  margin-left: 0em;
  text-align:center;
  }
  
  .spir{
    margin-left: 100px;
    width: 25em;
    height: 20em;
    transform:rotate3d(1, 1, 1, -15deg); 
    animation: rotation 3s linear;   
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .spir1{
    margin-left: -120em;
    width: 25em;
    height: 20em;
    transform:rotate3d(1, 1, 1, 15deg); 
    animation: rotat 3s linear;    
  }
  @keyframes rotat {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
 
 #responsive {
  display: flex;
  justify-content: space-between;
  margin-top: -20%;
  width: 90%;
  margin-left: 100px;
 }